
- if @client == @resource && @scope.include?("openid")
  %p
    = link_to @client.name, "http://#{@client.hostname}"
    would like to:
  %ul
    %li View your email address
    %li View basic information about your account
  %p
    = link_to @client.name, "http://#{@client.hostname}"
    will use this information in accordance with its terms of service and privacy policy.
  %br

- else
  = link_to @client.name, "http://#{@client.hostname}"
  is requiring your approval to access your data in
  = link_to @resource.name, "http://#{@resource.hostname}"

%div
  %br
  = form_tag create_authorization_path do
    = hidden_field_tag :client_id, @client.identifier
    = hidden_field_tag :scope, @scope
    = hidden_field_tag :response_type, @response_type
    = hidden_field_tag :redirect_uri, @redirect_uri
    = hidden_field_tag :state, @state

    = submit_tag "Approve", name: :approve, class: 'btn btn-success'
    = submit_tag "Reject", class: 'btn btn-danger'
