- content_for :form_title do
  %h1 Resend confirmation instructions

= simple_form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f|
  / = devise_error_messages!

  = f.input :email, :label => false, :error => false do
    = f.input_field :email, placeholder: 'Email', class: 'block email', pattern: false
    = f.full_error :email

  = render 'recaptcha/in_form'

  .control-group
    .controls
      = f.submit "Resend confirmation instructions", class: 'btn'

%hr

= link_to "Log in", new_session_path(resource_name)
%br/
