- content_for :form_title do
  %h1
    Edit
    = resource_name.to_s.humanize

= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|
  / = devise_error_messages!

  = f.input :name

  = f.input :password, :label => false, :hint => raw("<i>leave blank if you don't want to change it</i>"), :error => false do
    = f.input_field :password, placeholder: 'Password', :autocomplete => "off", class: "block password"
    = f.full_error :password

  = f.input :password_confirmation, :label => false, :error => false do
    = f.input_field :password_confirmation, placeholder: 'Password confirmation', class: "block password"
    = f.full_error :password_confirmation

  .control-group
    .controls
      = f.submit "Update", class: 'btn'

%hr

%p
  Unhappy? #{link_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete}.

= link_to "Back", :back
