- content_for :form_title do
  %h1 Sign up

= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
  / = devise_error_messages! / not needed, errors displayed on each field

  = f.input :email, :label => false do
    = f.input_field :email, placeholder: 'Email', class: 'block email'

  = f.input :password, :label => false do
    = f.input_field :password, placeholder: 'Password', class: 'block password'

  = f.input :password_confirmation, :label => false do
    = f.input_field :password_confirmation, placeholder: 'Password confirmation', class: 'block password'

  .control-group
    .controls
      = f.submit "Sign up", class: 'btn'

%hr

= render "devise/shared/links"
