%p
  %b Identifier:
  = @application.identifier
%p
  %b Secret:
  = @application.secret
%p
  %b Name:
  = @application.name
%p
  %b Hostname:
  = @application.hostname
- if can? :create_trusted, Application
  %p
    %b Trusted:
    = @application.trusted

= link_to 'Edit', edit_application_path(@application), :class => "btn btn-primary"
= link_to 'Back', applications_path, :class => "btn btn-default"
