- content_for :form_title do
  %h1 Change your password

= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f|
  /= devise_error_messages!
  = f.hidden_field :reset_password_token

  = f.input :password, :label => false do
    = f.input_field :password, placeholder: 'New password', class: 'block password'

  = f.input :password_confirmation, :label => false do
    = f.input_field :password_confirmation, placeholder: 'Password confirmation', class: 'block password'

  .control-group
    .controls
      = f.submit "Change my password", class: 'btn'

%hr

= render "devise/shared/links"
