- content_for :form_title do
  %h1 Forgot your password?

= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f|
  / = devise_error_messages!

  = f.input :email, :label => false, :error => false do
    = f.input_field :email, placeholder: 'Email', class: 'block email'
    = f.full_error :email

  .control-group
    .controls
      = f.submit "Send me reset password instructions", class: 'btn'

%hr

- if devise_mapping.confirmable?
  = link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name)
  %br/

= link_to "Log in", new_session_path(resource_name)
%br/

