- content_for :form_title do
  - if @custom_message
    %h1.orange= @custom_message
    %p.subheader Please log in
  - else
    %h1.orange Access all InSTEDD Platform apps <br> using the same account
    %p.subheader InSTEDD apps integrate better if you use the same account for all of them

  .app-logo
    / Must be replaced with application logo
    = image_tag 'instedd-bootstrap/login/mbuilder.png'

- content_for :tab_top_right do
  %div.aright
    Don't have an account yet?
    = link_to "Create account", new_registration_path(resource_name), class: 'btn btn-warning', style: "margin-left: 5px;"

= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|

  .fieldset

    = f.input :email, :label => false do
      = f.input_field :email, placeholder: 'Email', class: 'block email', pattern: false

    = f.input :password, :label => false do
      = f.input_field :password, placeholder: 'Password', class: 'block password'

    - if devise_mapping.rememberable?
      .control-group
        .controls
          %label.checkbox#remember_me
            = f.label :remember_me do
              = f.check_box :remember_me
              Remember me

    .control-group
      .controls
        = f.submit "Log in", class: 'btn'

  %hr

  - if devise_mapping.recoverable? && controller_name != 'passwords'
    Forgot your password?
    = link_to "Reset it", new_password_path(resource_name)

- content_for :after_form do
  = render "devise/shared/omniauth_links"

- content_for :instedd_content_footer do
  %hr
  .row.centred
    .span12
      .acenter{:style => "margin-bottom: 5px; margin-top: 16px"}
        One account for all InSTEDD apps
      %ul#instedd_apps_icon_list.acenter
