= content_for :instedd_content do
  %center
    = yield :form_title

  .row.centred
    .span5
      .well-white
        = yield

      - if content_for?(:after_form)
        = yield :after_form

  - if content_for?(:instedd_content_footer)
    = content_for :instedd_content_footer

= render template: 'layouts/application'
