= content_for :instedd_content do
  %center
    = yield :form_title

  .row.centred
    .span4
      .well-white
        = yield

      - if content_for?(:after_form)
        = yield :after_form

= render template: 'layouts/application'
